/***** Colors & Sizes *****/
:root {
  --color-primary: #6d6d6d;
  --color-primary-tint: #FFF;
  --color-accent: #424242;
  --color-accent-tint: #FFF;
  --color-line: #ccc;

  --item-width: 200px;
  --item-gap: 20px;
}
/***** Vertical Sitemap *****/
.nav_sitemap {
  margin-top: 0;
}
.top_of_page {
  padding-top: 120px;
  text-align: center;
  padding-bottom: 70px;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
.vsitemap {
  text-align: left;
}
.vsitemap  * {
  box-sizing: border-box;
}
.vsitemap ul {
  margin: 0 var(--item-gap);
  list-style: none;
  padding: 0;
}
.vsitemap ul > li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 0 calc(var(--item-gap) / 2);
  position: relative;
}
.vsitemap ul > li:before {
  content: "";
  position: absolute;
  top: 1em;
  height: 1px;
  left: calc(-1 * var(--item-gap) / 2);
  width: calc(var(--item-gap) / 2);
  background: var(--color-line);
}

/* Draw Line */
.vsitemap ul > li:first-child:before {
  width: var(--item-gap);
  left: calc(-1 * var(--item-gap));
}
.vsitemap ul li:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--item-gap));
  left: calc((var(--item-gap) / 2) - var(--item-gap));
  bottom: 0;
  width: 1px;
  background: var(--color-line);
}
.vsitemap ul li:first-child:after {
  top: 1em;
}
.vsitemap ul li:last-child:after {
  bottom: auto;
  height: calc(var(--item-gap) + 1em);
}
.vsitemap ul li:only-child:after {
  display: none;
}

/* Box Item */
.vsitemap small {
  line-height: 1.5em;
  position: relative;
  font-size: 0.8em;
}
.vsitemap a {
  line-height: 1.5em;
  display: block;
  text-decoration: none;
  padding: 0.5em;
  border-radius: 3px;
  width: var(--item-width);
  transition: background-color 0.4s;
}
.vsitemap a, 
.vsitemap a:visited {
  background: var(--color-primary);
  color:var(--color-primary-tint);
}
.vsitemap a:hover, 
.vsitemap a:active {
  background: var(--color-accent);
  color: var(--color-accent-tint);
}

/* Responsive */
/* tablet */
@media only screen and (max-width: 768px) {
  .vsitemap > ul > li > ul > li ul li{
    flex-direction: column;
  }
  .vsitemap > ul > li > ul > li ul li ul{
    margin-top: calc(var(--item-gap)/2);
  }
  .vsitemap > ul > li > ul > li > ul li:after {
    left: calc(-1 * var(--item-gap)/2);
  }
  .vsitemap > ul > li > ul > li > ul > li li:first-child:before {
    width: calc(var(--item-gap)/2);
    left: calc(-1 * var(--item-gap)/2);
  }
  .vsitemap > ul > li > ul > li > ul > li li:first-child:after{
    top: calc(-1 * var(--item-gap)/2);
  }
  .vsitemap > ul > li > ul > li > ul > li li:only-child:after {
    display: block;
    height: calc(var(--item-gap)/2 + 1em);
  }
}
/* mobile */
@media only screen and (max-width: 576px) {
  .vsitemap > ul > li ul li{
    flex-direction: column;
  }
  .vsitemap > ul > li ul li ul{
    margin-top: calc(var(--item-gap)/2);
  }
  .vsitemap > ul > li > ul li:after {
    left: calc(-1 * var(--item-gap)/2);
  }
  .vsitemap > ul > li > ul > li li:first-child:before {
    width: calc(var(--item-gap)/2);
    left: calc(-1 * var(--item-gap)/2);
  }
  .vsitemap > ul > li > ul > li li:first-child:after{
    top: calc(-1 * var(--item-gap)/2);
  }
  .vsitemap > ul > li > ul > li li:only-child:after {
    display: block;
    height: calc(var(--item-gap)/2 + 1em);
  }
}

/***** End Vertical Sitemap *****/

